@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
@import "tailwindcss";



* {
  font-family: "Outfit", sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.toolbar-btn {
  width: 42px;
  height: 42px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  flex-shrink: 0;
}

.toolbar-btn:hover {
  background: rgba(255,255,255,0.15);
}


@media print {

  body {
    background: white !important;
  }

  .toolbar-btn,
  .sidebar-report,
  .report-sidebar {
    display: none !important;
  }

  @page {
    size: A4 portrait;
    margin: 10mm;
  }
}

/* CSS */
.toolbar-btn {
  @apply
  min-w-[48px]
  h-12
  rounded-2xl
  flex
  items-center
  justify-center
  hover:bg-white/10
  transition-all
  duration-200;
}



.report-th{
  border:1px solid #cbd5e1;
  padding:14px 10px;
  text-align:center;
  font-weight:700;
  font-size:16px;
}

.report-td{
  border:1px solid #d1d5db;
  padding:14px 10px;
  text-align:center;
  font-size:15px;
}

.filter-title {
  @apply
  text-[20px]
  font-semibold
  text-gray-800
  mb-4;
}

.filter-input {
  @apply
  w-full
  h-12
  border
  border-gray-300
  rounded-2xl
  px-4
  outline-none
  text-[16px]
  bg-white;
}

/* .report-td{
  @apply
  border
  border-gray-200
  px-5
  py-4
  text-center
  text-gray-700;
} */

@media print {

  html,
  body{
    width:100%;
    height:auto;
    overflow:visible !important;
    background:white !important;
  }

  body{
    margin:0 !important;
    padding:0 !important;
    -webkit-print-color-adjust:exact;
    print-color-adjust:exact;
  }

  table{
    width:100% !important;
    table-layout:fixed;
    border-collapse:collapse;
  }

  tr,
  td,
  th{
    page-break-inside:avoid;
  }


  

}

@page{
  size:A4 landscape;
  margin:6mm;
}

@media print {

  html,
  body{
    width:100%;
    overflow:visible !important;
    background:white !important;
  }

  body{
    zoom:65%;
    margin:0 !important;
    padding:0 !important;

    -webkit-print-color-adjust:exact;
    print-color-adjust:exact;
  }

  table{
    border-collapse:collapse;
  }

  th,
  td{
    white-space:nowrap;
  }

}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}